<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes</title>
    <link rel="stylesheet" href="/anime.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/navBar')%>

    <h1><%= title %></h1>
    <div class="container">

        <%animes.forEach((a)=>{%>
            <div class="card">
                <h2 class="name"><%= a.anime_name %></h2> 
                <p class="type">type : <%= a.type %></p>
                <p class="genres">genres : <%= a.genre_name %></p>
                <p class="ep">episodes : <%= a.ep %></p>
                <p class="dubbed">dobbed : <%= a.dubbed %></p>
                <div class="btns">
                    <a href="/animes/update/<%=a.id%>">update</a>
                    <a href="animes/delete/<%=a.id%>">delete</a>
                </div>
            </div>
        <%})%>
    </div>
</body>
</html>